[submodule "lib/decentralised-app"]
	path = lib/decentralised-app
	url = https://github.com/GetAlluo/decentralised-app
[submodule "lib/liquidity-direction-protocol"]
	path = lib/liquidity-direction-protocol
	url = https://github.com/GetAlluo/liquidity-direction-protocol
[submodule "lib/protocol-monorepo"]
	path = lib/protocol-monorepo
	url = https://github.com/superfluid-finance/protocol-monorepo
[submodule "lib/umaprotocol"]
	path = lib/protocol
	url = https://github.com/UMAprotocol/protocol
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
